@import "../styles/variables.scss";

.cart {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
  align-items: center;
  justify-items: center;

  margin: 80px 0;
  //width: 50%;

  .cartHeaders,
  .cartItem {
    display: contents;

    h2,
    p,
    input,
    button {
      padding: 10px;
      text-align: center;
    }

    .cartHeaders {
      font-weight: bold;
      background-color: #442e2e;
    }

    .cartItem {
      &:nth-child(even) {
        background-color: #b63434;
      }
    }
  }
}
