@import "../styles/variables.scss";

nav {
  display: flex;
  flex-direction: column;
  align-items: center;

  .wrapper {
    width: 50%;
    .topbar {
      display: flex;
      justify-content: space-between;
    }
  }
  .navLinks {
    display: flex;
    gap: 80px;
    a {
      text-decoration: none;
    }
  }
}
