.produktRecap {
  display: flex;
  gap: 50px;
}

.radios {
  display: flex;
  flex-direction: column;
}

.shippingMethod {
  label {
    display: flex;
    gap: 50px;
  }
}

.payOption {
  label {
    display: flex;
    gap: 50px;
  }
}
